@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .linkButton {
    @apply mr-2 ml-2 cursor-pointer hover:text-accentColor;
  }

  .first-tile {
    @apply xl:h-screen py-0 tile;
  }

  .normal-tile {
    @apply xl:h-auto py-32 tile;
  }

  .tile {
    @apply flex items-center justify-start px-10 md:px-20 min-h-screen h-auto w-full border-b-2;
  }

  .tile-group {
    @apply flex flex-wrap justify-start mt-16;
  }

  .title {
    @apply text-4xl lg:text-5xl font-bold;
  }

  .deleteButton {
    @apply hover:text-accentColor cursor-pointer ml-2;
  }
}

html {
  scroll-behavior: smooth;
}

.min-w-1200 {
  min-width: 1200px;
}

.min-w-640 {
  min-width: 640px;
}

.font-sans {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-pacifico {
  font-family: Pacifico, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
}
